@badge-prefix-cls: ~"@{vcu-prefix}-badge";
.@{badge-prefix-cls} {
    display: inline-block;
    text-align: center;
    background: @badge-bg-color;
    color: #fff;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    padding: 0 6px;
    background-clip: padding-box;
    vertical-align: middle;
}

.@{badge-prefix-cls}-single {
    padding: 0;
    width: 16px;
}

.@{badge-prefix-cls}-dot {
    height: auto;
    padding: 5px
}